.titre{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 900;
}
li{
    list-style: none;
}
.prix{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 900;
}
.contenant{
    display: flex;
    width: 800px;
    justify-content: center;
}

@media screen and (max-width: 750px){
    .contenant{
        display: flex;
        width: 100%;
    }
}
