.contenant{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.titre{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 900;
}
li{
    list-style: none;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.prix{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 900;
}
@media screen and (max-width: 750px){
    
}
