.contact-conteneur{
    width: 100%;
    background-color: #dfbe9c;
}
.contact-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 35px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}