.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #dfbe9c;
}
.header-title{
    font-size: 25px;
    color: brown;
    background-color: #dfbe9c;
}
.link:hover{
    text-decoration: overline;
}
.header-title img{
    width: 100%;
    height: 150px;
}
.footer-img img{
    width: 100%;
    height: 23px;
    object-fit: cover;
}
.footer-img{
    width: 100%;
}
.header-title a{
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: brown;
}
@media screen and (min-width: 750px){
    .header{
        display: flex;
        flex-direction: column;
    }
}
