.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 2%;
    background-color: #dfbe9c;
    
}
.header-title{
    font-size: 25px;
    color: brown;
    height: 250px;
    background-color: #dfbe9c;
}
.header-title img{
    width: 100%;
    height: 250px;
}

.header-title a{
    text-decoration: none;
}
@media screen and (max-width: 750px){
    .header{
        display: flex;
        flex-direction: column;
    }
}
